.works .header {
  margin: 25vh 15vw 40px 15vw;
  font-size: calc(clamp(3.25em, 7vw, 8em) * 0.875);
  display: flex;
  flex-direction: column;
}

.works .header .title {
  margin-bottom: 100px;
}

.works .header .lottie-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #673ab7;
  align-self: flex-end;
  transform: translate(-150px, -50%);
  overflow: hidden;
}

.works .header .lottie-container > svg {
  transform: scale(1.2) translate(20px, 20px) !important;
}
