.works .header {
  margin: 25vh 15vw 40px 15vw;
  font-size: calc(clamp(3.25em, 7vw, 8em) * 0.875);
  display: flex;
  flex-direction: column;
}

.works .header .title {
  margin-bottom: 100px;
}

.works .header .parallax-lottie {
  align-self: flex-end;
}

.works .header .parallax-lottie .lottie-container {
  background-color: #673ab7 !important;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.works .header .lottie-container .lottie-comp > svg {
  transform: scale(1.2) translate(20px, 20px) !important;
}

@media (max-width: 768px) {
  .works .header {
    margin: 20vh 4vw 40px 4vw;
  }

  .works .header .title {
    margin-bottom: 60px;
  }

  .works .header .parallax-lottie {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50%);
  }

  .works .header .parallax-lottie .lottie-container {
    width: 100px;
    height: 100px;
  }

  .works .header .lottie-container .lottie-comp > svg {
    transform: scale(1.4) translate(0px, 15px) !important;
  }
}