.about .content {
  margin: 0 15vw 0 15vw;
  display: flex;
}

.about .content .text {
  font-size: 22px;
  width: 25%;
}

.about .content .text .points {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  margin-top: 50px;
}

.about .content .text .points:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1400ms infinite;
  animation: ellipsis steps(4, end) 1400ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;
  }
}

.about .content .parallaxImg {
  width: 70% !important;
  height: 800px;
  margin-left: 100px;
}

.about .content .imgLayer img {
  width: 150% !important;
  transform: translate(-17%, -17%);
}
@media (max-width: 1365px) {
  .about .content {
    margin: 0 4vw 0 4vw;
    flex-direction: column;
    gap: 40px;
  }

  .about .content .text {
    width: 100%;
    font-size: 18px;
  }

  .about .content .text .points {
    margin-top: 30px;
  }

  .about .content .parallaxImg {
    width: 100% !important;
    height: 500px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .about .content {
    margin: 0 4vw 0 4vw;
    flex-direction: column;
    gap: 40px;
  }

  .about .content .text {
    width: 100%;
    font-size: 18px;
  }

  .about .content .text .points {
    margin-top: 30px;
  }

  .about .content .parallaxImg {
    width: 100% !important;
    height: 500px;
    margin-left: 0;
  }
}