.contact {
  background-color: #1e1e1e;
  color: white;
}

.contact .form {
  margin: 0 16vw 200px 16vw;
}

.contact .form .header {
  display: flex;
  padding-top: 30vh;
  margin-bottom: 20vh;
  align-items: flex-end;
  width: 100%;
}

.contact > .form .title {
  display: flex;
  font-weight: normal;
  font-size: 8vh;
  font-weight: 500;
  text-align: left;
  width: 78%;
}

.contact .form .header .avatar .MuiAvatar-root {
  height: 12vh;
  width: 12vh;
}

.contact .form .row {
  display: flex;
  gap: 1.33em;
}