.home .landing {
  width: 100vw;
  height: calc(100vh + 71.68px);
  background-color: darkgrey;
  background-image: url(../assets/images/imgLanding.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.curriculum {
  position: absolute;
  top: 40%;
}

.curriculum .MuiButtonBase-root {
  width: 300px;
  height: 100px;
  border-radius: 0 50px 50px 0 !important;
  font-size: 20px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 30px;
  background-color: black;
}

.curriculum .MuiButtonBase-root a {
  text-decoration: none;
  color: white;
}

.curriculum .MuiButtonBase-root .MuiButton-endIcon svg {
  font-size: 42px !important;
  margin-left: 56px;
}

.curriculum .MuiButtonBase-root:hover {
  background-color: #333;
}

.marquee {
  position: absolute;
  width: 100vw;
  bottom: 20px;
  max-width: 100%;
  height: 300px;
  overflow-x: hidden;
}
.marquee .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.home .marquee .content {
  font-size: 250px;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.about {
  background-color: white;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about .paragraph {
  font-size: 28px;
  text-align: left;
  max-width: 800px;
  line-height:48px;
}

.home .about .about-btn {
  width: 280px;
}

.home .about br {
  margin: 10px;
}

.home .about .about-btn .text {
  margin-bottom: 40px;
  font-size: 20px;
}

.home .about .MuiButtonBase-root {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 24px;
  background-color: black;
}

.home .about .MuiButtonBase-root:hover {
  background-color: #333;
}

.home .landing .waves {
  position: absolute;
  transform: scaleY(0.2);
  bottom: -215px;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

.home .works {
  text-align: left;
  padding: 0 10% 0 10%;
  font-weight: 600;
}

.home .works .title {
  color: #555;
  padding: 50px;
}

.home .works hr {
  opacity: 0.5;
  margin: 0;
}

.home .works .content {
  padding: 50px 50px 50px 50px;
  color: #555;
  font-size: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding ease-out 0.8s;
  cursor: pointer;
}

.home .works .content .text {
  color: black;
  font-weight: 300;
}

.home .works .content .info {
  text-align: right;
  font-size: 16px;
}

.home .works .content:hover {
  padding: 50px 10px 50px 10px;
  transition: padding ease-out 0.4s;
}

.home .works .content .dev {
  color: #AAA;
  font-size: 14px;
}

.home .works .container {
  position: absolute;
  width: 300px;
  height: 178px;
  background-color: transparent;
}

.home .works .more-work {
  display: flex;
  justify-content: center;
  padding: 100px 0 280px 0;
}

.home .works .more-work .moreWork {
  width: 230px;
  height: 100px;
  border-radius: 50px;
  color: black;
  font-weight: 600;
  border-color: #aaa;
}

.home .works .more-work .moreWork:hover {
  background-color: #F8F8F8;
}

.home .works-grid {
  width: 100%;
  overflow: hidden;
  margin-bottom: 200px;
}

.home .works-grid .row {
  width: 125%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.home .works-grid .row.reverse {
  transform: translateX(-20%);
}

.home .works-grid .row .work {
  width: 100%;
  background-color: #eee;
  height: 30vh;
  margin: 0 25px;
}


.home .contact {
  background-color: #333;
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home .contact .container {
  margin: 0 15%;
}

.home .contact .container>.title {
  color: white;
  margin-top: 20vh;
  margin-bottom: 100px;
}

.home .contact .container>.title h2 > div {
  display: flex;
  font-weight: normal;
  font-size: 100px;
  align-items: center;
}

.home .contact hr {
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.home .contact .contact-btn {
  display: flex;
  justify-content: flex-end;
}

.home .contact .contact-btn .float-btn {
  position: absolute;
  transform: translateY(-50%) translateX(-100px);
}

.home .contact .contact-btn .float-btn .elementBtn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.home .contact .infos {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  gap: 30px;
}

.home .contact .infos .MuiButtonBase-root {
  color: #ddd;
  border-color: #555;
  height: 80px;
  border-radius: 40px;
  padding: 0 30px;
}

.home .contact .infos .MuiButtonBase-root:hover {
  background-color: #444;
}

.home .contact .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 40px;
  color: #aaa;
  font-size: 14px;
}

.home .contact .footer .socials {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home .contact .footer .socials a {
  color: #eee;
  margin-left: 10px;
  text-decoration: none;
  transition: all ease 0.3s;
  padding: 5px;
  border-radius: 2px;
}

.home .contact .footer .socials a:first-of-type {
  margin-left: 0 !important;
}

.home .contact .footer .socials .title {
  font-weight: 800;
  font-size: 12px;
}

.home .contact .footer .socials .links {
  margin-top: 5px;
}

.home .contact .footer .socials a:hover {
  background-color: #444;
}