.home .landing {
  width: 100vw;
  height: calc(100vh + 71.68px);
  background-color: darkgrey;
}

.curriculum {
  position: absolute;
  top: 40%;
}

.curriculum .MuiButtonBase-root {
  width: 300px;
  height: 100px;
  border-radius: 0 50px 50px 0 !important;
  font-size: 20px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 30px;
  background-color: black;
}

.curriculum .MuiButtonBase-root .MuiButton-endIcon svg {
  font-size: 42px !important;
  margin-left: 56px;
}

.curriculum .MuiButtonBase-root:hover {
  background-color: #333;
}

.marquee {
  position: absolute;
  width: 100vw;
  bottom: 20px;
  max-width: 100%;
  height: 300px;
  overflow-x: hidden;
}
.marquee .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 16s linear infinite;
}

.home .marquee .content {
  font-size: 250px;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.about {
  background-color: white;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .paragraph {
  font-size: 24px;
  text-align: left;
  max-width: 800px;
}

.home .about .about-btn {
  width: 280px;
}

.home .about .about-btn .text {
  margin-bottom: 40px;
}

.home .about .MuiButtonBase-root {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 24px;
  background-color: black;
}

.home .about .MuiButtonBase-root:hover {
  background-color: #333;
}

.home .landing .waves {
  position: absolute;
  transform: scaleY(0.2);
  bottom: -215px;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
