.works .works-container {
  margin: 100px 7vw 400px 7vw;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 200px;
}

.btn-hover-view {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hover-view .text {
  font-weight: 600;
  color: white;
  font-size: 16px;
}

@media (max-width: 768px) {
  .works .works-container {
    margin: 100px 4vw 200px 4vw;
    display: flex;
    row-gap: 50px;
  }

  .btn-hover-view {
    display: none;
  }
}

@media screen and (max-height: 768px) and (max-width: 1100px) and (orientation: landscape) {
  .btn-hover-view {
    display: none;
  }
}
