.field .label {
  font-weight: 500;
  font-size: 1.33em;
  text-align: left;
  margin: 50px 0 0 20px;
  user-select: none;
}

.field .MuiTextField-root {
  color: white !important;
  margin: 0 !important;
}

.field .MuiTextField-root .MuiInputBase-root {
  padding: 20px 20px 50px 20px;
  background-color: #1e1e1e;
}

.field .MuiTextField-root .MuiInputBase-input {
  height: 50px;
  color: white !important;
  font-size: 1.33em;
  padding: 0;
}

.field .MuiTextField-root textarea {
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

.field .MuiTextField-root textarea::-webkit-scrollbar {
  width: 10px;
}

.field .MuiTextField-root textarea::-webkit-scrollbar-track {
  background: #333;
  border-radius: 5px;
}

.field .MuiTextField-root textarea::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
  transition: all ease .2s;
}

.field .MuiTextField-root textarea::-webkit-scrollbar-thumb:hover {
  background: #777;
}
