.navbar {
    display: flex;
    justify-content: space-between;
    margin: 24px 72px;
    position: absolute;
    width: calc(100% - 144px);
    color: white;
}

.navbar .title .MuiButton-root {
    font-family: "Montserrat";
    color: white;
    font-size: 24px;
    align-self: center;
    cursor: pointer;
    text-transform: none;
}

.navbar .title .MuiButton-root:hover {
    background-color: transparent;
}

.navbar .options {
    display: flex;
    gap: 20px;
}

.navbar .options .MuiButton-root {
    color: white;
    text-transform: none;
    font-size: 16px;
}

.navbar .options .MuiButton-root:hover {
    background-color: transparent;
}

.navbar .options .MuiButton-root:hover:before {
    content: "";
    position: absolute;
    bottom: -2px;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    left:calc(50% - 8px);
    transition: all ease 0.8s;
}

.ham {
    position: fixed;
    right: 30px;
    top: 30px;
    transition: all ease .4s;
}

.scrolledNav {
    width: 90px;
    height: 90px;
    border-radius: 50% !important;
    z-index: 8;
    background-color: #1e1e1e !important;
}

.scrolledNav:hover {
    background-color: #444 !important;
    transform: scale(0.2);
}

.scrolledNav svg {
    font-size: 32px;
}