.works .works-container .work-item {
  width: calc(50% - 50px);
  cursor: pointer;
  user-select: none;
}

.works .works-container .work-item .panel {
  height: 36vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works .works-container .work-item:nth-child(8n+1) .panel {
  background-color: #EDDBC7;
}

.works .works-container .work-item:nth-child(8n+2) .panel {
  background-color: #E5E3C9;
}

.works .works-container .work-item:nth-child(8n+3) .panel {
  background-color: #E8F3D6;
}

.works .works-container .work-item:nth-child(8n+4) .panel {
  background-color: #f1d6ad;
}

.works .works-container .work-item:nth-child(8n+5) .panel {
  background-color: #f8e2ff;
}

.works .works-container .work-item:nth-child(8n+6) .panel {
  background-color: #BDCDD6;
}

.works .works-container .work-item:nth-child(8n+7) .panel {
  background-color: #f1c2cc;
}

.works .works-container .work-item:nth-child(8n) .panel {
  background-color: #AC7D88;
}

.works .works-container .work-item .panel .img {
  width: 90%;
  height: 90%;
  transition: all ease .7s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.works .works-container .work-item:hover .panel .img {
  transform: scale(1.03);
}

.works .works-container .work-item .title {
  font-size: calc(clamp(3.25em, 7vw, 8em) * 0.4);
}

.works .works-container .work-item .description {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.works .works-container .work-item .description span {
  color: #777;
}

@media (max-width: 768px) {
  .works .works-container .work-item {
    width: 100%;
    margin-bottom: 50px;
  }

  .works .works-container .work-item .panel {
    height: 300px;
    margin-bottom: 25px;
  }

  .works .works-container .work-item:hover .panel .img {
    transform: scale(1);
  }

  .works .works-container .work-item .description {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}