.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 40px;
  color: #aaa;
  font-size: 14px;
}

.footer .img-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  opacity: .1;
  transition: all ease 1s;
}

.footer .img-footer:hover {
  opacity: .4;
}

.footer .socials {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer .socials a {
  color: #eee;
  margin-left: 10px;
  text-decoration: none;
  transition: all ease 0.3s;
  padding: 5px;
  border-radius: 2px;
  outline: none;
}

.footer .socials a:first-of-type {
  margin-left: 0 !important;
}

.footer .socials .title {
  font-weight: 800;
  font-size: 12px;
  font-family: 'Montserrat';
}

.footer .socials .links {
  margin-top: 5px;
}

.footer .socials a:before {
  content: "";
  position: absolute;
  bottom: 8px;
  background: white;
  width: 70%;
  height: 1px;
  border-radius: 2px;
  transition: all ease 0.4s;
  transform: scale(0);
}

.footer .socials .MuiButton-root {
  text-transform: none !important;
}

.footer .socials .MuiButton-root:hover {
  background-color: transparent;
}

.footer .socials a:hover::before {
  transform: scale(1);
}
