.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 40px;
  color: #aaa;
  font-size: 14px;
}

.footer .img-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  opacity: 0.1;
  transition: all ease 1s;
}

.footer .img-footer:hover {
  opacity: 0.4;
}

.footer .socials {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer .socials a {
  color: #eee;
  margin-left: 10px;
  text-decoration: none;
  transition: all ease 0.3s;
  padding: 5px;
  border-radius: 2px;
  outline: none;
}

.footer .socials a:first-of-type {
  margin-left: 0 !important;
}

.footer .socials .title {
  font-weight: 800;
  font-size: 12px;
  font-family: "Montserrat";
}

.footer .socials .links {
  margin-top: 5px;
}

.footer .socials a:before {
  content: "";
  position: absolute;
  bottom: 8px;
  background: white;
  width: 70%;
  height: 1px;
  border-radius: 2px;
  transition: all ease 0.4s;
  transform: scale(0);
}

.footer .socials .MuiButton-root {
  text-transform: none !important;
}

.footer .socials .MuiButton-root:hover {
  background-color: transparent;
}

.footer .socials a:hover::before {
  transform: scale(1);
}

@media (max-width: 768px) {
  .footer {
    height: fit-content;
    margin: 0 10px;
  }

  .footer .copy {
    display: none;
  }

  .footer .socials {
    width: 100%;
  }

  .footer .socials a {
    margin-left: 0;
    padding: 0;
    font-size: 12px;
  }

  .footer .socials .links {
    margin-bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .footer .socials .links .MuiButton-root:first-child {
    display: none;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .footer {
    height: fit-content;
    margin: 0 10px;
    width: calc(100% - 20px);
  }

  .footer .socials {
    width: fit-content;
  }

  .footer .socials a {
    margin-left: 0;
    padding: 0;
    font-size: 12px;
  }

  .footer .socials .links {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }

  .footer .socials .links .MuiButton-root:first-child {
    display: none;
  }
}
