.about-home {
    background-color: white;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .about-home .paragraph {
    font-size: 28px;
    text-align: left;
    max-width: 800px;
    line-height:48px;
  }
  
  .home .about-home .about-btn {
    width: 280px;
  }
  
  .home .about-home br {
    margin: 10px;
  }
  
  .home .about-home .about-btn .text {
    margin-bottom: 40px;
    font-size: 20px;
  }
  
  .home .about-home .MuiButtonBase-root {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 24px;
    background-color: #1e1e1e;
  }
  
  .home .about-home .MuiButtonBase-root:hover {
    background-color: #444;
  }