.about-home {
  background-color: white;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-home .paragraph {
  font-size: 28px;
  text-align: left;
  max-width: 800px;
  line-height: 48px;
}

.home .about-home .about-btn {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.home .about-home br {
  margin: 10px;
}

.home .about-home .about-btn .text {
  margin-bottom: 40px;
  font-size: 20px;
}

.home .about-home .MuiButtonBase-root {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-size: 24px;
  background-color: #1e1e1e;
}

.home .about-home .MuiButtonBase-root:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .about-home {
    flex-direction: column;
    gap: 0;
    margin: 30px 30px 0 30px;
  }

  .about-home .paragraph {
    font-size: 20px;
    text-align: left;
    max-width: 800px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .home .about-home .about-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
  }

  .home .about-home .about-btn .text {
    align-self: flex-start;
    width: 65%;
  }

  .home .about-home .about-btn .div {
    align-self: flex-end;
  }
}
