.contact-footer {
  background-color: #333;
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.contact-footer .parallaxDivider {
  width: 100%;
  background-color: white;
  position: absolute;
  transform: scaleX(1.2);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.contact-footer .container {
  margin: 0 15%;
}

.contact-footer .container > .title {
  color: white;
  margin-bottom: 10vh;
}

.contact-footer .container > .title h2 > div {
  display: flex;
  font-weight: normal;
  font-size: 10vh;
  align-items: center;
  font-weight: 500;
}

.contact-footer hr {
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.contact-footer .contact-btn {
  display: flex;
  justify-content: flex-end;
}

.contact-footer .contact-btn .float-btn {
  position: absolute;
  transform: translateY(-50%) translateX(-100px);
}

.contact-footer .contact-btn .float-btn .elementBtn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--primary);
}

.contact-footer .contact-btn .float-btn .elementBtn:hover {
  background-color: var(--primaryHover);
}

.contact-footer .contact-btn .float-btn .elementBtn a {
  color: white;
}

.contact-footer .infos {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  gap: 30px;
}

.contact-footer .infos .MuiButtonBase-root {
  color: #ddd;
  border-color: #555;
  height: 80px;
  border-radius: 40px;
  padding: 0 30px;
}

.contact-footer .infos .MuiButtonBase-root a {
  color: #ddd;
}

.contact-footer .infos .MuiButtonBase-root:hover {
  background-color: #444;
}
