.App {
  width: 100%;
  overflow-x: hidden;
}

.App>div {
  overflow: hidden;
}

.title {
  font-family: "Roboto Condensed";
}

:root {
  --primary: #673ab7;
  --primaryHover: #512da8;
  --secondary: #9575cd;
  --secondary_3: rgba(149, 117, 205, 0.3);
}
